.card {
    box-shadow: 5px 5px 6px hsla(0, 71%, 27%, 0.4);
}

.btn-primary {
    box-shadow: 5px 5px 6px hsla(0, 65%, 51%, 0.4);
}

.container {
    color: white;
}

.wallet {
    background-color: #4B67E3;
    padding: 10px;
    border-radius: 5px;
}

.profile-img {
    background-color: #4B67E3;
    padding: 20px;
    border-radius: 10px;
}

.profile-form {
    background-color: #4B67E3;
    padding: 30px;
    border-radius: 10px;
}

.form-control {
    background-color: #ffffff;
    color: #000000;
}

.btn-primary, .btn-secondary {
    background-color: #FFFFFF;
    color: #4B67E3;
    border: none;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #e6e6e6;
    color: #4B67E3;
}

body {
    background-color: #2c44ac;
    
}